<h1>Типы данных</h1>

<table>
  <thead>
  <tr>
	<td>Имя</td>
	<td>Описание</td>
	<td>Свойства</td>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |i| %>
    <tr>
	  <% if i.args then %>
		<td><a name="<%= i.id %>">&nbsp;</a><a href="/types/<%= i.id %>"><b><%= i.name %></b></a></td>
	  <% elsif %>
		<td><a name="<%= i.id %>"><b><%= i.name %></b></a></td>
	  <% end %>
	  <td><%= i.title %></td>
	  <td><%= i.val.html_safe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

